{% extends "base.html" %}
{% block content %}
{% include "includes/nav_doc.html" %}
{% include "includes/messages.html" %}

<div class="container py-5 bg-light">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg border-0 rounded-4">
          <div class="card-header bg-primary text-white d-flex align-items-center rounded-top-4">
            <i class="bi bi-pencil-square fs-4 me-2"></i>
            <h4 class="mb-0">Edit Profile</h4>
          </div>
  
          <div class="card-body p-4 bg-white rounded-bottom-4">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label fw-bold">
                  <i class="bi bi-person text-primary me-2"></i>Name
                </label>
                <input type="text" class="form-control" name="name" value="{{ request.user.username|title }}" required>
              </div>
              <div class="mb-3">
                <label class="form-label fw-bold">
                  <i class="bi bi-envelope text-primary me-2"></i>Email
                </label>
                <input type="email" class="form-control" name="email" value="{{ request.user.email }}" required>
              </div>
              <div class="mb-3">
                <label class="form-label fw-bold">
                  <i class="bi bi-activity text-primary me-2"></i>Specialization
                </label>
                <input type="text" class="form-control" name="specialization" value="{{ profile.specialization }}" required>
              </div>

              <div class="mb-3">
                <label class="form-label fw-bold">
                  <i class="bi bi-calendar-check text-primary me-2"></i>Availability
                </label>
                <div class="d-flex flex-wrap">
                  {% for i, day in profile.WEEKDAY_MAP.items %}
                    <div class="form-check me-3">
                      <input class="form-check-input" type="checkbox" name="availability" value="{{ i }}"
                        {% if i in profile.availability %}checked{% endif %}>
                      <label class="form-check-label">{{ day }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              
              <div class="text-end">
                <button class="btn btn-primary px-4 rounded-pill">
                  <i class="bi bi-save me-2"></i>Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
